# Config file for [Air](https://github.com/cosmtrek/air) in TOML format

# Working directory
# . or absolute path, please note that the directories following must be under root.
root = "."
tmp_dir = "tmp"

[build]
# Just plain old shell command. You could use `make` as well.
cmd = 'go build -gcflags="all=-N -l" -o ./build-output/web-server main.go'
# Binary file yields from `cmd`.
bin = "./build-output/web-server"
# Customize binary, can setup environment variables when run your app.
full_bin = "dlv exec --continue --accept-multiclient --listen=:40000 --headless=true --api-version=2 --log ./build-output/web-server"
# Watch these filename extensions.
include_ext = ["go", "tpl", "tmpl", "html"]
# Ignore these filename extensions or directories.

[log]
# Show log time
time = true
# Only show main log (silences watcher, build, runner)
main_only = false

[color]
# Customize each part's color. If no color found, use the raw app log.
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
# Delete tmp directory on exit
clean_on_exit = true
